<div class="bg-off-white pv4">
	<div class="ph3 mw7 center flex-ns">
        <h2 class="f2 b lh-title mb3 tc">Наши направления</h2>
		<ul class="ml5 list-circle marker-primary"> 
			<li >Реабилитация и социализация людей  оказавшихся в трудной жизненной ситуации</li>
			<li >Помощь бездомным и беженцам</li>
			<li >Пожертвования на ремонт и реконструкцию храмов, культовых зданий и сооружений основных религиозных конфессий</li>
			<li >Адресная помощь на лечение и реабилитацию</li>
		</ul>
	</div>
</div>
